.stickyNote {
    -moz-box-shadow: 2px 2px 0 #DDDDDD;
    background-color: #FDFB8C;
    display: block;
    font-family: Trebuchet MS,Tahoma,Myriad Pro,Arial,Verdana,sans-serif;
    font-size: 120%;
    height: 150px;
    left: 50%;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    right: 50%;
    width: 150px;
		cursor: move;
}
.stickyNote textarea {
    background-color: #FDFB8C;
    border:none;
    height: 100%;
    position: relative;
    width: 100%;
		font-family: Trebuchet MS,Tahoma,Myriad Pro,Arial,Verdana,sans-serif;
		font-size: 100%;
}
.stickyNote .delete{
	position : absolute;
	left: 0;
	top: 0;
	background: url(../images/delete.png);
	text-indent: -99999px;
	width:14px;
	height:14px;
}